{% extends 'base.html.twig' %}

{% block title %}TempController!{% endblock %}
{% block page_title %}TempController{% endblock %}

{% block body %}
<div class="row">
	<div class="col-8">

		<h2>Form:</h2>
		{{ form(form) }}

	</div>
</div>
{% endblock %}
