{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Access denied{% endblock %}
{% block page_title %}Access denied{% endblock %}

{% block body %}
    <p>
        The requested page couldn't be located because you do not have access.<br><a href="{{ path('home') }}">Return to the homepage</a>.
    </p>
{% endblock %}
